.post-type-product {
    .ai-buddy-modal-window-wrapper {
        width: 640px;

        .ai-buddy-container {
            var {
                padding: 2px 2px;
                align-items: center;
            }
        }
    }
}
