@import "../global/variables";

body {
    font-family: Albert-Sans, sans-serif;

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    h3 {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 10px;
    }

    a {
        text-decoration: none;
        outline: none;
        cursor: pointer;
    }

    .ai-buddy-button {
        display: inline-block;
        vertical-align: top;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        border: 1px solid $blue;
        transition: all 0.3s;
        box-sizing: border-box;
        padding: 12px 20px 11px;
        background: $blue;
        border-radius: 4px;
        margin-left: 10px;
        line-height: 15px;
        font-weight: 700;
        font-size: 13px;
        color: $white;
        cursor: pointer;
        -webkit-font-smoothing: antialiased;

        &.button-full {
            display: block;
            width: 100%;
            margin-left: 0;
        }

        &.right-alignment {
            margin-left: auto;
            margin-right: 0;
        }

        .button-loader {
            display: none !important;
            animation: rotate 1.5s infinite linear;
            visibility: hidden;
            opacity: 0;
        }

        &.loading {
            min-width: 114px;
            min-height: 40px;
            line-height: 0;
            font-size: 0;

            .button-loader {
                display: block !important;
                font-size: 18px;
                line-height: 14px;
                margin-bottom: 0;
                visibility: visible;
                opacity: 1;
            }
        }

        &:first-child {
            margin-left: 0;
        }

        &:hover,
        &:active,
        &:focus {
            background-color: $blue-dark;
            border-color: $blue-dark;
        }

        &:disabled,
        &[disabled] {
            opacity: 0.5;
            cursor: default;
            border: 1px solid $blue;
            background: $blue;
        }

        &.outline {
            background-color: transparent;
            color: $blue;

            &:hover,
            &:active,
            &:focus {
                background-color: $blue;
                border-color: $blue;
                color: $white;
            }

            &:disabled,
            &[disabled] {
                opacity: 0.5;
                cursor: default;
                border: 1px solid $blue;
                background: transparent;
                color: $blue;
            }
        }

        &.dark {
            background-color: $lighter-dark;
            border-color: $lighter-dark;

            &.outline {
                background-color: transparent;
                color: $lighter-dark;
            }

            &:hover,
            &:active,
            &:focus {
                background-color: $dark;
                border-color: $dark;
                color: $white;
            }
        }

        &.gray {
            background-color: $gray;
            border-color: $gray;

            &.outline {
                background-color: transparent;
                color: $gray;
            }

            &:hover,
            &:active,
            &:focus {
                background-color: $lighter-dark;
                border-color: $lighter-dark;
                color: $white;
            }
        }
    }

    .ai-buddy-navigation {
        display: flex;
        position: relative;
        background-color: $dark;
        margin-top: 40px;
        margin-right: 20px;
        border-radius: 8px;
        white-space: nowrap;
        color: $white;
        -webkit-font-smoothing: antialiased;

        &-logo {
            display: flex;
            align-items: center;
            padding: 10px;

            img {
                display: block;
                max-width: 100%;
                height: auto;
            }

            &-text {
                padding-left: 10px;
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;

                .plugin-version {
                    display: block;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    color: rgba($white, 0.5);
                }
            }
        }

        &-list {
            display: flex;
            align-items: center;
            padding: 0 30px;

            &-item {
                font-weight: 500;
                font-size: 15px;
                line-height: 24px;
                position: relative;

                a {
                    display: flex;
                    align-items: center;
                    padding: 19px;
                    position: relative;
                    color: rgba($white, 0.5);
                    box-shadow: none;
                    outline: none;
                    z-index: 1;

                    span {
                        margin-right: 7px;
                        font-size: 20px;
                    }

                    var {
                        margin-left: 7px;
                        border-radius: 30px;
                        background-color: $blue;
                        padding: 3px 5px;
                        font-weight: 500;
                        font-size: 11px;
                        line-height: 14px;
                        font-style: normal;
                        color: $white;
                    }
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    border-bottom: 3px solid $blue;
                    background-color: rgba($white, 0.1);
                    visibility: hidden;
                    opacity: 0;
                    z-index: 0;
                }

                &:focus,
                &.active {
                    a {
                        color: $white;
                    }

                    &:after {
                        visibility: visible;
                        opacity: 1;
                    }
                }

                &.upcoming {
                    &:after {
                        display: none;
                    }

                    a {
                        color: rgba($white, 0.5);
                        cursor: default;
                    }
                }
            }
        }

        &-additions {
            display: flex;
            align-items: center;
            margin: 0 0 0 auto;

            a {
                color: $white;
            }

            .notifications-status {
                display: flex;
                align-items: center;
                padding: 19px;
                max-width: 70px;
                line-height: 12px;
                font-size: 12px;
                box-shadow: none;
                white-space: normal;
                border-right: 1px solid rgba($white, 0.1);
                border-left: 1px solid rgba($white, 0.1);

                span {
                    margin-right: 7px;
                    position: relative;
                    font-size: 18px;
                }
            }

            .additions-menu {
                display: flex;
                width: 60px;
                justify-content: center;
                align-items: center;
                padding: 19px 0;
                font-size: 5px;
                box-shadow: none;

                span {
                    &:nth-child(2) {
                        display: none;
                    }
                }
            }

            .ai-status,
            .support-menu {
                position: absolute;
                top: 100%;
                right: 0;
                min-width: 170px;
                margin-top: 10px;
                border-radius: 10px;
                transform: translateY(50%);
                background-color: $dark;
                visibility: hidden;
                opacity: 1;

                &:before {
                    content: "";
                    position: absolute;
                    top: -6px;
                    right: 12px;
                    width: 18px;
                    height: 18px;
                    background-color: $dark;
                    transform: rotate(-45deg);
                }

                ul {
                    margin: 0;
                    padding: 0;

                    li {
                        display: flex;
                        align-items: center;
                        padding: 12px 20px;
                        margin: 0;
                        border-top: 1px solid rgba($white, 0.1);

                        &:first-child {
                            border: 0;
                        }

                        span {
                            margin-right: 10px;
                            font-size: 18px;
                        }

                        a {
                            display: flex;
                            align-items: center;
                            box-shadow: none;
                            font-size: 14px;
                            font-weight: 500;
                        }
                    }
                }
            }

            .ai-status {
                transform: translateY(20%);
                padding: 20px 0;
                background-color: $white;
                box-shadow: 0 10px 30px rgba($dark, 0.25);
                color: $dark;

                > div {
                    display: none;
                }

                &:before {
                    right: 80px;
                    background-color: $white;
                }

                .ai-status-content-wrapper {
                    width: 500px;
                    max-height: 520px;
                    overflow-x: hidden;
                    overflow-y: auto;
                    position: relative;

                    h3 {
                        margin: 0 0 10px;
                        padding: 0 20px;
                    }

                    &::-webkit-scrollbar {
                        width: 4px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: rgba($dark, 0.4);
                        border-radius: 10px;
                    }

                    &::-webkit-scrollbar-thumb:hover {
                        background-color: $dark;
                    }

                    .ai-status-content {
                        padding: 20px;
                        border-top: 1px solid $light-gray;

                        &:first-child {
                            border-top: 0;
                        }

                        .ai-status-title-box {
                            display: flex;
                            margin-bottom: 10px;

                            .ai-status-title {
                                flex: 1;
                                position: relative;
                                transition: all 0.3s;
                                white-space: break-spaces;
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 19px;
                                color: $dark;
                            }

                            .ai-status-date {
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 19px;
                                color: $blue;
                            }
                        }

                        .ai-status-description {
                            small {
                                font-weight: 700;
                                font-size: 14px;
                                line-height: 17px;
                                color: $dark;
                            }

                            var {
                                font-style: normal;
                            }

                            strong {
                                font-weight: 400;
                            }

                            p {
                                margin: 0 0 10px;
                                white-space: break-spaces;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 20px;
                                color: $light-dark;

                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }

                            &:first-child {
                                border-top: 0;
                            }
                        }

                        &.new {
                            background-color: $lighter-gray;
                            border-radius: 10px 10px 0 0;

                            .ai-status-title-box {
                                .ai-status-title {
                                    padding-left: 15px;

                                    &:before {
                                        content: "";
                                        position: absolute;
                                        top: 7px;
                                        left: 0;
                                        width: 6px;
                                        height: 6px;
                                        border-radius: 50%;
                                        background-color: $blue;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.ai-status-active {
                .ai-status {
                    opacity: 1;
                    transform: translateY(0);
                    transition: opacity 0.2s ease, transform 0.2s ease;
                    visibility: visible;
                    z-index: 100;

                    > div {
                        display: block;
                    }
                }
            }

            &.support-menu-active {
                .additions-menu {
                    span {
                        display: block;
                        font-size: 14px;

                        &:first-child {
                            display: none;
                        }
                    }
                }

                .support-menu {
                    opacity: 1;
                    transform: translateY(0);
                    transition: opacity 0.2s ease, transform 0.2s ease;
                    visibility: visible;
                    z-index: 100;
                }
            }
        }

        @media (max-width: $small-container) {
            flex-wrap: wrap;
            justify-content: center;

            .ai-buddy-navigation {
                &-list {
                    order: 2;
                }

                &-additions {
                    order: 1;

                    .notifications-status {
                        border: none;
                    }
                }
            }
        }
    }

    .ai-buddy-container {
        font-family: "Albert-Sans", "Arial", "Times New Roman", "Calibri", serif;
        position: relative;
        box-sizing: border-box;
        padding: 20px 20px 20px 0;
        -webkit-font-smoothing: antialiased;

        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            display: none;
        }

        var {
            border-radius: 30px;
            background-color: #2985F7;
            padding: 4px 5px;
            font-weight: 600;
            font-size: 13px;
            line-height: 15px;
            font-style: normal;
            color: #ffffff;
        }

        .section {
            border-radius: 6px;
            box-shadow: 0 1px 8px 0 rgba(0,0,0,.05),0 2px 1px 0 rgba(0,0,0,.03);
            background-color: $white;
            margin-bottom: 20px;
            padding: 20px;

            &:last-child {
                margin-bottom: 0;
            }

            &-title {
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
                padding-bottom: 10px;
                margin-bottom: 20px;
                text-transform: uppercase;
                border-bottom: 1px solid $light-gray;
                color: $dark;
            }

            &-subtitle {
                margin-bottom: 10px;
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                color: $light-dark;

                &.align-center {
                    text-align: center;
                }

                span {
                    display: inline-block;
                    margin-bottom: 10px;
                }

                var {
                    display: flex;
                    align-items: flex-start;
                    font-style: normal;
                    border-radius: 7px;

                    .ai-buddy-button {
                        margin-left: 10px;
                    }

                    &.with-line {
                        border-bottom: 1px solid $light-gray;
                    }
                }

                &:has(span) {
                    margin-bottom: 0;
                }
            }

            &-description {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: rgba($light-dark, 0.7);

                &.align-center {
                    text-align: center;
                }
            }

            &-field {
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }

                &-information {
                    position: relative;
                    margin-bottom: 20px;
                    padding-left: 20px;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 15px;
                    color: $gray;
                    margin-top: 5px;

                    span {
                        position: absolute;
                        top: 1px;
                        left: 0;
                        font-size: 13px;
                    }

                    a {
                        text-decoration: underline;
                        color: $gray;

                        &:hover,
                        &:active,
                        &:focus {
                            text-decoration: none;
                            transition: all 0.3s;
                            box-shadow: none;
                            outline: none;
                        }
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                &.has-inner-columns {
                    display: flex;

                    > div {
                        flex: 1;
                        padding: 0 10px;

                        &:first-child {
                            padding-left: 0;
                        }

                        &:last-child {
                            padding-right: 0;
                        }

                        &.section-field {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            &-buttons-box,
            &-button-box {
                display: flex;
                border-top: 1px solid $light-gray;
                padding-top: 20px;
                margin-top: 20px;
            }

            &-button-box {
                border: 0;
                padding: 0;

                &-full {
                    .ai-buddy-button {
                        flex: 1;
                        margin: 0 5px;

                        &:first-child {
                            margin-left: 0;
                        }

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }

            .drop-down-box {
                display: flex;
                margin-bottom: 20px;

                .drop-down-column {
                    flex: 1;
                }

                .drop-down-button {
                    text-align: right;

                    .ai-buddy-button {
                        margin-left: 10px;
                    }
                }
            }
        }

        .running-generation {
            display: flex;
            align-items: center;
            padding: 29px 0 0;
            margin-bottom: 20px;

            &-loader {
                flex: 1;
                margin-right: 10px;
            }

            &-sub-title {
                font-weight: 600;
                font-size: 14px;
                line-height: 16px;
                color: $light-dark;
            }

            .progress-bar-box {
                margin-top: 5px;
                position: relative;
                overflow: hidden;
                background-color: rgba($gray, 0.5);
                border-radius: 4px;
                height: 4px;

                .progress-bar {
                    display: inline-block;
                    vertical-align: top;
                    position: relative;
                    transition: .5s ease-in-out;
                    background-color: $blue;
                    border-radius: 4px;
                    height: 4px;
                }
            }

            &-count {
                margin-left: 10px;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                color: $blue;
            }
        }

        &-row {
            display: flex;
            margin: 0 -10px;
        }

        &-content {
            flex: 1;
            padding: 0 10px;
        }

        &-sidebar {
            position: sticky;
            top: 43px;
            align-self: flex-start;
            width: 360px;
            padding: 0 10px;
        }
    }

    .support-menu {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.2s ease, transform 0.2s ease;
        visibility: visible;
        z-index: 100;
    }

    .toplevel_page_ai_buddy_content_builder {
        &.wp-has-submenu, &.menu-top {
            .wp-menu-image {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    display: block;
                    width: 22px;
                    height: 22px;
                    padding: 0 !important;
                    opacity: 1 !important;
                }
            }
        }
    }

    &.toplevel_page_ai_buddy_content_builder,
    &.aibud-wp_page_ai_buddy_content_builder,
    &.aibud-wp_page_ai_buddy_image_generator,
    &.aibud-wp_page_ai_buddy_playground,
    &.aibud-wp_page_ai_buddy_settings,
    &.posts_page_ai_buddy_content_builder,
    &.admin_page_ai_buddy_image_generator,
    &.admin_page_ai_buddy_playground,
    &.aibud-wp_page_ai_buddy_chatbot,
    &.aibud-wp_page_ai_buddy_comment_generator,
    &.aibud-wp_page_ai_buddy_fine_tuning,
    &.admin_page_ai_buddy_settings {
        font-family: $base-font;

        input[type="text"],
        input[type="email"],
        input[type="phone"],
        input[type="password"],
        input[type="number"],
        textarea {
            display: block;
            width: 100%;
            padding: 11px 20px;
            height: 40px;
            resize: none;
            outline: none;
            box-shadow: none;
            overflow: hidden;
            overflow-y: auto;
            background-color: $white;
            border: 1px solid $light-gray;
            box-sizing: border-box;
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            color: $light-dark;

            &:hover,
            &:focus,
            &:active {
                border: 1px solid $light-gray;
                box-shadow: none;
            }

            &::placeholder {
                color: $gray;
            }

            &:disabled,
            &[disabled] {
                opacity: 0.5;
            }
        }

        textarea {
            min-height: 100px;

            &::-webkit-scrollbar {
                width: 4px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgba($gray, 0.4);
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb:hover {
                background-color: $dark;
            }

            &.high-altitude {
                min-height: 500px;
            }
        }

        .check-box {
            display: flex;
            align-items: center;

            .checkbox {
                opacity: 0;
                position: absolute;

                & + label {
                    position: relative;
                    display: inline-block;
                    user-select: none;
                    transition: .4s ease;
                    height: 24px;
                    width: 49px;
                    border: 1px solid $gray;
                    border-radius: 60px;
                    background-color: $lighter-gray;

                    &:before {
                        content: "";
                        // position: absolute;
                        display: block;
                        transition: .2s cubic-bezier(.24, 0, .5, 1);
                        height: 24px;
                        width: 49px;
                        top: 0;
                        left: 0;
                        border-radius: 30px;
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        display: block;
                        transition: .2s cubic-bezier(.24, 0, .5, 1);
                        background: $gray;
                        height: 18px;
                        width: 18px;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 4px;
                        border-radius: 60px;
                    }
                }

                &-text {
                    padding-left: 10px;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 19px;
                    color: $light-dark;
                }

                &:checked {
                    & + label {
                        border-color: $blue;
                    }

                    & + label:before {
                        background: $blue;
                        transition: width .2s cubic-bezier(0, 0, 0, .1);
                    }

                    & + label:after {
                        background-color: $white;
                        left: 26px;
                    }
                }
            }

            .section-field-information {
                margin-left: 30px;
            }
        }

        &.wp-core-ui {
            select {
                &.ai-buddy-select {
                    display: block;
                    width: 100%;
                    max-width: none;
                    background-color: $lighter-gray;
                    border: 1px solid $light-gray;
                    box-sizing: border-box;
                    border-radius: 4px;
                    padding: 10px;
                    font-family: $base-font;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 18px;
                    color: $light-dark;

                    &:hover,
                    &:focus,
                    &:active {
                        border: 1px solid $light-gray;
                        box-shadow: none;
                        color: $light-dark;
                    }

                    &:disabled,
                    &[disabled] {
                        color: $gray;
                    }
                }
            }
        }
    }

    .ai-buddy-accordion-section {
        -webkit-font-smoothing: antialiased;

        .section-title {
            margin-bottom: 0;
            border: none;
            padding: 0;
            cursor: pointer;

            var {
                background-color: #aded10;
                color: #081322;
            }

            &.active {
                &:after {
                    content: "\2212";
                }

                ~ .section-content {
                    max-height: 600px;
                }
            }

            &:after {
                content: '\002B';
                color: #777;
                font-weight: bold;
                float: right;
                margin-left: 5px;
            }
        }

        .section-subtitle {
            margin-bottom: 0px !important;
            margin-top: 15px;

            label {
                margin-left: 10px;
            }

            var {
                display: inline;
                margin-left: 5px;
            }

            &.ai-buddy-models {
                label {
                    margin-left: 0;
                    margin-right: 10px;
                }

                .checkbox + label {
                    width: 24px !important;

                    &:before {
                        width: 24px !important;
                    }

                    &:after {
                        content: unset;
                    }
                }

                .checkbox:checked + label {
                    &:after {
                        content: '';
                        left: 5px !important;
                        height: 14px;
                        width: 14px;
                    }
                }
            }
        }

        .section-content {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s ease-out;
            transition-delay: 0s;

            input, select {
                margin-left: 0;
                margin-right: 0;
            }

            .section-field:first-child, .section-subtitle:first-child {
                margin-top: 20px;
            }
        }
    }

    .ai-buddy-blocked-input {
        position: relative;
        -webkit-font-smoothing: antialiased;

        a {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 9999;
            width: 100%;
            height: 100%;
            cursor: no-drop;
        }
    }

    .multiple-column {
        .section-field, .section-subtitle {
            margin-top: 20px;
        }
    }
}

.ai-buddy-blocked-input {
    position: relative;

    a {
        position: absolute;
        left:0;
        top: 0;
        z-index:9999;
        width: 100%;
        height: 100%;
        cursor: no-drop;
    }
}

.ai-buddy-hide {
    display: none;
}
