@font-face {
    font-family: 'Albert-Sans';
    font-weight: 100;
    src: url('../fonts/AlbertSans-Thin.ttf');
}
@font-face {
    font-family: 'Albert-Sans';
    font-weight: 200;
    src: url('../fonts/AlbertSans-ExtraLight.ttf');
}
@font-face {
    font-family: 'Albert-Sans';
    font-weight: 300;
    src: url('../fonts/AlbertSans-Light.ttf');
}
@font-face {
    font-family: 'Albert-Sans';
    font-weight: 400;
    src: url('../fonts/AlbertSans-Regular.ttf');
}
@font-face {
    font-family: 'Albert-Sans';
    font-weight: 500;
    src: url('../fonts/AlbertSans-Medium.ttf');
}
@font-face {
    font-family: 'Albert-Sans';
    font-weight: 600;
    src: url('../fonts/AlbertSans-SemiBold.ttf');
}
@font-face {
    font-family: 'Albert-Sans';
    font-weight: 700;
    src: url('../fonts/AlbertSans-Bold.ttf');
}
@font-face {
    font-family: 'Albert-Sans';
    font-weight: 800;
    src: url('../fonts/AlbertSans-ExtraBold.ttf');
}
@font-face {
    font-family: 'Albert-Sans';
    font-weight: 900;
    src: url('../fonts/AlbertSans-Black.ttf');
}
