$dark: #1E2A36;
$light-dark: #27374E;
$lighter-dark: #2C3E50;
$black: #000000;
$white: #ffffff;
$blue: #2985F7;
$blue-dark: #1c56bc;
$blue-light: #EAF3FF;
$red: #E03131;
$gray: #8C99A5;
$light-gray: #D6DADE;
$lighter-gray: #F6F9FC;
$green: #88C12C;
$light-green: #ECFFCC;
$wp-admin-bg: #F0F3F5;
$pink: #F85050;
$yellow: #d6981b;

$base-font: 'Albert-Sans', 'Arial', 'Times New Roman', 'Calibri';

$small-container: 1367px;
